<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39659599399-1hrvmc63ig95fle6g1cg4ac4n05gmf5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39659599399-1hrvmc63ig95fle6g1cg4ac4n05gmf5t</string>
	<key>API_KEY</key>
	<string>AIzaSyBw0uyfiZ9Ckdlw0u4NYOwu0ZVthLeL9_8</string>
	<key>GCM_SENDER_ID</key>
	<string>39659599399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackings.lrdrones</string>
	<key>PROJECT_ID</key>
	<string>lrdronesapp</string>
	<key>STORAGE_BUCKET</key>
	<string>lrdronesapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39659599399:ios:0d105af24476e2006e4002</string>
</dict>
</plist>